.simple-color-picker {
    display: inline-block;
  }
  
  .selected-color-box {
    width: 30px;
    height: 20px;
    cursor: pointer;
    border: 3px solid #ccc;
    border-radius: 4px;
  }
  
  .color-menu {
    display: flex;
    flex-wrap: wrap;
    max-height: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    background-color: #ccc;
    overflow-y: auto;
    transform: translateX(-40%); /* Yatayda ortalanmış menüyü ayarlamak için */
      
  }

  
  .color-option {
    width: 25px;
    height: 25px;
    margin: 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  