.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 510px;
  height: auto;
  background-color: #f2f2f2;
  margin: 50px 0px 50px 50px;
  padding: 20px 50px 20px 50px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.form h3 {
  font-size: 34px;
  margin-bottom: 20px;
  text-align: center;
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  font-weight: bold;
}
.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form textarea {
  resize: vertical;
}
input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}