.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

.first-table-container {
  max-width: 50%;
  overflow-x: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-right: 20px;
}

.second-table-container {
  width: 45%; 
  max-width: 50%;
  overflow-x: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: inline-block;
  margin: 10px;
}

.table-first {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  border: 10px solid #ccc;
  border-radius: 5px;
}

.table-second {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-add {
  color: #4caf50;
  border-radius: 5px;
  border: #4caf50 1px solid;
  font-size: 20px;
  margin-right: 10px;
  position: flex;
  justify-content: center;
}

.btn-delete {
  color: #f44336;
  border-radius: 5px;
  border: #f44336 1px solid;
  font-size: 20px;
}
